<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QL_NHANSUConnectionString"
            connectionString="Data Source=DESKTOP-Q6N4J46\SQLEXPRESS;Initial Catalog=QL_NHANSU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>